@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-webpeaker-50: #f4f0ff;
  --color-webpeaker-100: #e9dfff;
  --color-webpeaker-500: #8b5cf6;
  --color-webpeaker-600: #6832e3;
  --color-webpeaker-900: #4c1d95;
  --font-sans: Inter, sans-serif;
}
